body {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* header section */

header {
    background-image: url('./assets/group.png');
   
    background-size: cover;
    
    display: flex;
    height: 785px;
}

header .container-logo {
    border-right: solid white 1px;
    width: 7.3vw;
}

header .container-logo img {
    margin-left: 2vw;
    margin-top: 1.56em;
}

.nav-hero-container {
    width: 90%;
    padding-left: 5vw;
}

header nav {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    letter-spacing: 1.4px;
    font-weight: bold;
}

header nav .nav-menu, .nav-language {
    list-style: none;
    text-decoration: none;
    display: flex;
}

header nav .nav-menu {
    padding-left: 0;
}

header nav li {
    padding-right: 2rem;
}


header nav .nav-menu li a{
    list-style: none;
    text-decoration: none;
    color: white;
}


header nav .nav-language {
    padding-right: 2.7rem;
}

header nav .nav-language li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

header .hero {
    height: 90%;
    display: flex;
    align-items: center;
}

header .hero-text {
    margin-bottom: 20vh;
}

header .hero h1 {
    color: white;
    font-size: 3.3125em;
    font-weight: 300;
}

header .hero h1 span {
    color: #cbe346;
}

header .hero button {
    width: 16.8125em;
    height: 3.3125em;
    border-radius: 26.5px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1em;
}


/* first section */


.first-section {
    height: 24.5em;
    background-color: #f3f4f8;
    display: flex; 
}

.first-section .title-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30vw;
    color: #cbe346;
    font-size: 0.9375em;
    margin-bottom: 30vh;
    text-transform: uppercase;
    letter-spacing: 1.87px;
}

.first-section .text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    padding-left: 5vw;
}

.first-section .text-container h2 {
    font-size: 3.125em;
    color: #1e2335;
    font-weight: 300;
}

.first-section .text-container p {
    display: inline-block;
    width: 393px;
    color: #787878;
    font-size: 1.125em;
    line-height: 32px;
}

.first-section .button-container {
    display: flex;
    align-items: flex-end;
    width: 30vw;
    margin-bottom: 10vh;
}
.first-section button {
    width: 234px;
    height: 53px;
    border-radius: 26.5px;
    border: solid 1px #282e47;
    color: #282e47;
    text-transform: uppercase;
    letter-spacing: 1.01px;
    cursor: pointer;
}


/* second section */

.second-section {
    display: flex;
}

.second-section .nuestras-raquetas {
    background: url('./assets/ball-color-court-1405355.png');
    background-repeat: no-repeat;
    height: 468px;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.second-section .nuestras-raquetas div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 250px;
    margin-left: 10vw;
}

.second-section .nuestras-raquetas h3 {
    font-size: 3.125em;
    font-weight: 300;
    margin: 0;
}

.second-section .nuestras-raquetas h3 span {
    font-weight: bold;
}

.second-section .nuestras-raquetas p {
    line-height: 30px;
    font-size: 1.125em;
}

.second-section .nuestras-raquetas .arrow-buttons {
    display: flex;
    flex-direction: row;
}

.second-section .card-container {
    display: flex;
    align-items: center;
}

.second-section .card {
    background: url('./assets/group-10.png');
    width: 288px;
    height: 344px;
}

.second-section .card span {
    border-radius: 50%;
    background-color: #cbe346;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 13px 17px;
    margin-left: 15px;
    margin-top: 15px;
}

/* third section */

.third-section {
    background-image: url('./assets/action-athlete-ball-342361.png');
    height: 586px;
}

/* footer section */

footer {
    background: #cbe346;
    display: flex;
    justify-content: space-between;
    height: 38vh;
    height: 203px;
    font-size: 0.8125em;
}

footer .menu-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 78px;
}

.footer-menu {
    display: flex;
    padding-left: 0;
}

.footer-menu li {
    text-decoration: none;
    list-style: none;
    margin-right: 45px;
    color: white;
    font-weight: bold;
}

.footer-menu li a {
    text-decoration: none;
    color: #2b3049;
}

.footer-icons-sm img {
    margin-right: 7px;
}

footer .logo-container {
    display: flex;
    width: 150px;
}

.footer-logo {
    width: 55px;
}


@media  screen and (max-width: 1023px){

    body {
        font-size: 12px;
    }

    header {
        height: 588.75px;
    }

    header .container-logo img {
        margin-left: .7em;
        margin-top: 1.56em;
    }
    
    .first-section .text-container p {
        width: 250px;
    }
    .first-section button {
        font-size: 11px;
        width: 14.625em;
        height: 3.3125em;
    }

    .second-section {
        height: 29.25em;
    }

    .second-section .nuestras-raquetas {
        height: 29.25em;
    }

    .second-section .card {
        width: 18em;
        height: 21.5em;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .third-section {
        height: 36.625em;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: fill;
    }

    footer {
        height: 12.6875em;
       
    }
}

@media  screen and (max-width: 767px){
    
    }


@media screen and (max-width: 480px){

}

@media screen and (max-width: 375px){

    header {
        flex-direction: column;
        background-size: cover;
        background-position-x: 750px;
        
    }

    header nav {
        display: none;
    }

    header .container-logo {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-icon {
        background-color: #cbe346;
        width: 40px;
        height: 37px;
        border-radius: 100%;
        margin-right: 20px;
        position: fixed;
        left: 320px;
        top: 15px;
        padding-top: 3px;
    }

    .burger-icon span {
        background-color: white;
        height: 4px;
        width: 24px;
        display: block;
        margin-top: 5px;
        margin-left: 8px;
        border-radius: 20px;
    }

    .hero {
        position: relative;
        top: 150px;
    }

    .hero-text {
        text-align: center;
        font-size: 10px;
    }

    

    main {
        font-size: 10px;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .first-section .title-container {
        width: 100vw;
        height: 100px;
        justify-content: center;
        margin-bottom: 0;
    }

    .first-section .text-container {
        width: 100vw;
        height: 200px;
        text-align: center;
        align-items: center;
        padding-left: 0;
    }

    .first-section .button-container {
        width: 100vw;
        height: 100px;
        justify-content: center;
    }

    .second-section {
        flex-direction: column;
        height: auto;
    }

    .second-section .nuestras-raquetas {
        width: 100vw;
    }

    .second-section .nuestras-raquetas div {
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .card-container .card {
        margin: 15px auto;
    }

    .second-section .arrow-buttons {
        justify-content: center;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    footer .menu-icons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vh 0;
        width: 100vw;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu li {
        margin-bottom: 40px;
        margin-right: 0;
    }

    footer .logo-container {
        width: 100vw;
        justify-content: center;
        margin-bottom: 5vh;
    }
}